@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  @apply font-primary text-dark;
}
@media (max-width: 1024px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@layer base {
  @font-face {
    font-family: OpenSans;
    font-weight: 300;
    src: url('/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 400;
    src: url('/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 600;
    src: url('/fonts/OpenSans/OpenSans-SemiBold.ttf')
    format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 700;
    src: url('/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 800;
    src: url('/fonts/OpenSans/OpenSans-ExtraBold.ttf')
    format('truetype');
  }

  @font-face {
    font-family: OpenSans;
    font-weight: 300;
    font-style: italic;
    src: url('/fonts/OpenSans/OpenSans-LightItalic.ttf')
    format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 600;
    font-style: italic;
    src: url('/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf')
    format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 700;
    font-style: italic;
    src: url('/fonts/OpenSans/OpenSans-BoldItalic.ttf')
    format('truetype');
  }
  @font-face {
    font-family: OpenSans;
    font-weight: 800;
    font-style: italic;
    src: url('/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf')
    format('truetype');
  }

  h6, .h6 {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
